<h1>管理者</h1>
<h2>商品一覧</h2>

<table  border="1">
  <tr>
    <th>ID</th>
    <th>genreID</th>
    <th>name</th>
    <th>image</th>
    <th>introduction</th>
    <th>price</th>
    <th>status</th>
  </tr>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.id %></td>
    <td><%= item.genre.name %></td>
    <td>
      <%= link_to admin_item_path(item.id) do %>
        <%= item.name %>
      <% end %>
    </td>
    <td><%= attachment_image_tag item, :image, :fill, 60, 60 %></td>
    <td><%= item.introduction %></td>
    <td><%= item.price %> yen</td>
    <td>
      <% if item.is_active? %>
        有効
      <% else %>
        無効
      <% end %>
    </td>
  </tr>
  <% end %>
</table>