<h1>管理者</h1>
<h2>商品詳細</h2>

<h4>ID</h4>
<p><%= @item.id %></p>
<h4>ジャンル名</h4>
<p><%= @item.genre.name %></p>
<h4>商品名</h4>
<p><%= @item.name %></p>
<h4>画像</h4>
<p><%= attachment_image_tag @item, :image, :fill, 100, 100 %></p>
<h4>商品説明文</h4>
<p><%= @item.introduction %></p>
<h4>価格</h4>
<p><%= @item.price %> yen</p>
<h4>有効ステータス</h4>
<p>
  <% if @item.is_active? %>
    有効
  <% else %>
    無効
  <% end %>
</p>

<%= link_to "back", admin_items_path %>